/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/.temp/
/adminr/Resources/**/*
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
/storage/logs/*.log
yarn-error.log
/.idea
/.vscode
/packages
composer.lock
composer_local.json
composer_server.json
composer.prod.json
composer.dev.json
