@import "./variables";

.custom-file-button {
  position: relative;
  border: 1px dashed #aaa;
  aspect-ratio: var(--aspect-ratio);
  width: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.custom-file-button input {
  display: none;
}

.responsive{
  position: relative;
  width: 100%;
  padding-top: 56.23%;
}

.responsive > * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swal2-popup {
  width: 100% !important;
  max-width: 450px !important;
}
.swal2-icon {
  width: 35px !important;
  height: 35px !important;
}

.swal2-title {
  font-size: 1.5em !important;
}
.swal2-html-container {
  font-size: 1em !important;
}

.swal2-styled.swal2-confirm, .swal2-styled.swal2-cancel {
  font-size: 0.75rem !important;
}
.swal2-icon .swal2-icon-content {
  font-size: 1.75em !important;
}

.lq-user-avatar {
  display: inline-block;
  width: 50px;
  height: 50px;
  object-fit: cover;
}


.lq-overlay {
  height: 100%;
  width: 100%;
  background: rgba(#000, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}


.lq-overlay ~ * {
  position: relative;
  z-index: 3;
}

.nav-pills .nav-link {
  position: relative;
  border-radius: 0;
  padding: 20px 20px;
  border-bottom: 1px solid #eaeaea;
  line-height: 14px;
}

//.nav-pills .nav-link.active::after {
//  content: '';
//  position: absolute;
//  top: 0;
//  right: 0;
//  height: 0;
//  width: 0;
//  border-top: calc(11px + 16px) solid #fff;
//  border-left: 30px solid var(--primary);
//  border-bottom: calc(11px + 16px) solid #fff;
//}

.circle-file-input {
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  border: 2px dashed #9b9b9b;
  cursor: pointer;
}


.img-thumb {
  max-width: 75px;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  object-fit: cover;
  aspect-ratio: 1;
}

.adminr-icon {
  width: 20px;
  height: 20px;
}

/**
* Make Markdown editor on top of all elements
* if it is in full screen mode
*/
.editor-toolbar.fullscreen, .EasyMDEContainer .CodeMirror-fullscreen, .editor-preview-side {
    z-index: 1099 !important;
}

.editor-preview pre{
    padding-block: 16px;
    padding-inline: 12px;
    border-radius: 4px;
}

button:focus, button:active{
    outline: none !important;
}
